html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin: 10px 40px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
}
